### Importing necessary library and loading the dataset.

In [1]:
import pandas as pd

In [14]:
dt = pd.read_excel("data_penjualan.xlsx")
dt.head()

,MONTH1,MONTH2,WEEK,REG_DATE,REG_NO,OUTLET_ID,CABANG,OUTLET_SUB_NAME,REFEREE,TEST_INV_GROUP_NAME,TEST_NAME,SUM_TEST,MARKETER_DOCTOR,DOCTOR_FULL_NAME,PATIENT_ID,PATIENT_NAME,PRICE_NETTO_TEST
0,JANUARY,JANUARY,WEEK I,01/01/2024,2401010001F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Imunoserologi,CRP Kuantitatif,1,-,"Tania Ratna Putri, dr",03-24-71-97,An. ADZKA SIDDIQ BAGASKARA,181500.0
1,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Hematologi,Hematologi lengkap (tanpa LED),7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,80000.0
2,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Kimia,AST (SGOT),7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,44000.0
3,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Kimia,ALT (SGPT),7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,44000.0
4,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Kimia,Glukosa sewaktu,7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,34749.0

### Adding some new values into column

In [15]:
dt.loc[dt['REFEREE'].str.contains('Makassar', case=False), 'CABANG'] = 'MAKASSAR'
dt.loc[dt['REFEREE'].str.contains('Surabaya', case=False), 'CABANG'] = 'SURABAYA'
dt.CABANG.unique()

array(['MARGONDA', 'MENTENG', 'DENPASAR', 'CIPUTAT', 'BANDUNG', 'BIC',
       'PADANG', 'MAKASSAR', 'BATAM', 'SURABAYA'], dtype=object)

### Dropping unnecessary columns

In [16]:
dt = dt[dt['TEST_INV_GROUP_NAME'] != 'BANK DARAH']
dt = dt[dt['CABANG'] != 'BANDUNG']
dt.TEST_INV_GROUP_NAME.unique()

array(['Imunoserologi', 'Hematologi', 'Kimia', 'Hemostasis',
       'Urin - Feses - Cairan Tubuh', 'Molekuler', 'Mikrobiologi',
       'Genomic', 'Paket Pemeriksaan', 'Others', 'Patologi Anatomi',
       'Toksikologi', 'Lab', 'Monitoring Obat'], dtype=object)

### Add new column "TARGET_SALES"

In [17]:
dt["TARGET_SALES"] = None
dt

,MONTH1,MONTH2,WEEK,REG_DATE,REG_NO,OUTLET_ID,CABANG,OUTLET_SUB_NAME,REFEREE,TEST_INV_GROUP_NAME,TEST_NAME,SUM_TEST,MARKETER_DOCTOR,DOCTOR_FULL_NAME,PATIENT_ID,PATIENT_NAME,PRICE_NETTO_TEST,TARGET_SALES
0,JANUARY,JANUARY,WEEK I,01/01/2024,2401010001F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Imunoserologi,CRP Kuantitatif,1,-,"Tania Ratna Putri, dr",03-24-71-97,An. ADZKA SIDDIQ BAGASKARA,181500.0,None
1,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Hematologi,Hematologi lengkap (tanpa LED),7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,80000.0,None
2,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Kimia,AST (SGOT),7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,44000.0,None
3,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Kimia,ALT (SGPT),7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,44000.0,None
4,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Kimia,Glukosa sewaktu,7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,34749.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284480,NaN,APRIL,WEEK I,04/04/2024,2404040287A6,A6,MENTENG,RSU CITRA HARAPAN,BPJS KESEHATAN,Kimia,Kreatinin / eLFG,4,-,ARUM DIANNIT ASARI DR,07-24-75-42,"TAMIMAH,NY",65200.0,None
284481,NaN,APRIL,WEEK I,04/04/2024,2404040288A6,A6,MENTENG,RSU CITRA HARAPAN,BPJS KESEHATAN,Hematologi,Hematologi lengkap (tanpa LED),3,-,ARUM DIANNIT ASARI DR,07-23-62-02,Ny. CONSTANTIA DEUNING,54900.0,None
284482,NaN,APRIL,WEEK I,04/04/2024,2404040288A6,A6,MENTENG,RSU CITRA HARAPAN,BPJS KESEHATAN,Kimia,Glukosa sewaktu,3,-,ARUM DIANNIT ASARI DR,07-23-62-02,Ny. CONSTANTIA DEUNING,21900.0,None
284483,NaN,APRIL,WEEK I,04/04/2024,2404040288A6,A6,MENTENG,RSU CITRA HARAPAN,BPJS KESEHATAN,Kimia,"Elektrolit darah (Na, K, Cl)",3,-,ARUM DIANNIT ASARI DR,07-23-62-02,Ny. CONSTANTIA DEUNING,153200.0,None
284484,NaN,APRIL,WEEK I,04/04/2024,2404040049F2,F2,MARGONDA,RS AMANAH MAHMUDAH BREBES,PT. Hajjah Mahmudah,Hematologi,"Hematologi rutin (Hb, Ht, Eri, Leu, Trom)",1,-,"dr. Cony Kusumawardani, Sp.OG",11-42-38,LILIS KARLINA,60125.0,None

### Filling new column with new datas

In [21]:
target_sales_dict = {
    'JANUARY': {
        'MARGONDA': 1479647862,
        'MENTENG': 6167450143,
        'BIC': 1656592602,
        'DENPASAR': 1290017740,
        'CIPUTAT': 693912205,
        'BATAM': 200000000,
        'SURABAYA': 138331276,
        'PADANG': 664743432,
        'MAKASSAR': 358651255
    },
    'FEBRUARY': {
        'MARGONDA': 1479647862,
        'MENTENG': 6167450143,
        'BIC': 1656592602,
        'DENPASAR': 1290017740,
        'CIPUTAT': 693912205,
        'BATAM': 200000000,
        'SURABAYA': 138331276,
        'PADANG': 664743432,
        'MAKASSAR': 358651255
    },
    'MARCH': {
        'MARGONDA': 1383450680,
        'MENTENG': 5834074460,
        'BIC': 1561641651,
        'DENPASAR': 1231097862,
        'CIPUTAT': 656403437,
        'BATAM': 200000000,
        'SURABAYA': 130853909,
        'PADANG': 628811355,
        'MAKASSAR': 339264700
    },
    'APRIL': {
        'MARGONDA': 1215105612,
        'MENTENG': 5250667014,
        'BIC': 1395477486,
        'DENPASAR': 1127988076,
        'CIPUTAT': 628007094,
        'BATAM': 200000000,
        'SURABAYA': 117768518,
        'PADANG': 565930219,
        'MAKASSAR': 305338230
    }
}

first_rows = dt.groupby(['MONTH2', 'CABANG']).head(1)
for idx, row in first_rows.iterrows():
    month = row['MONTH2']
    branch = row['CABANG']
    target_sales = target_sales_dict.get(month, {}).get(branch, None)
    if target_sales is not None:
        dt.at[idx, 'TARGET_SALES'] = target_sales

### Checking the new DataFrame

In [22]:
dt

,MONTH1,MONTH2,WEEK,REG_DATE,REG_NO,OUTLET_ID,CABANG,OUTLET_SUB_NAME,REFEREE,TEST_INV_GROUP_NAME,TEST_NAME,SUM_TEST,MARKETER_DOCTOR,DOCTOR_FULL_NAME,PATIENT_ID,PATIENT_NAME,PRICE_NETTO_TEST,TARGET_SALES
0,JANUARY,JANUARY,WEEK I,01/01/2024,2401010001F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Imunoserologi,CRP Kuantitatif,1,-,"Tania Ratna Putri, dr",03-24-71-97,An. ADZKA SIDDIQ BAGASKARA,181500.0,1479647862
1,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Hematologi,Hematologi lengkap (tanpa LED),7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,80000.0,None
2,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Kimia,AST (SGOT),7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,44000.0,None
3,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Kimia,ALT (SGPT),7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,44000.0,None
4,NaN,JANUARY,WEEK I,01/01/2024,2401010003F0,F0,MARGONDA,Diagnos Depok Margonda,BPJS KESEHATAN,Kimia,Glukosa sewaktu,7,-,"Tania Ratna Putri, dr",03-07-18-75,SRI NIRMALA,34749.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284480,NaN,APRIL,WEEK I,04/04/2024,2404040287A6,A6,MENTENG,RSU CITRA HARAPAN,BPJS KESEHATAN,Kimia,Kreatinin / eLFG,4,-,ARUM DIANNIT ASARI DR,07-24-75-42,"TAMIMAH,NY",65200.0,None
284481,NaN,APRIL,WEEK I,04/04/2024,2404040288A6,A6,MENTENG,RSU CITRA HARAPAN,BPJS KESEHATAN,Hematologi,Hematologi lengkap (tanpa LED),3,-,ARUM DIANNIT ASARI DR,07-23-62-02,Ny. CONSTANTIA DEUNING,54900.0,None
284482,NaN,APRIL,WEEK I,04/04/2024,2404040288A6,A6,MENTENG,RSU CITRA HARAPAN,BPJS KESEHATAN,Kimia,Glukosa sewaktu,3,-,ARUM DIANNIT ASARI DR,07-23-62-02,Ny. CONSTANTIA DEUNING,21900.0,None
284483,NaN,APRIL,WEEK I,04/04/2024,2404040288A6,A6,MENTENG,RSU CITRA HARAPAN,BPJS KESEHATAN,Kimia,"Elektrolit darah (Na, K, Cl)",3,-,ARUM DIANNIT ASARI DR,07-23-62-02,Ny. CONSTANTIA DEUNING,153200.0,None
284484,NaN,APRIL,WEEK I,04/04/2024,2404040049F2,F2,MARGONDA,RS AMANAH MAHMUDAH BREBES,PT. Hajjah Mahmudah,Hematologi,"Hematologi rutin (Hb, Ht, Eri, Leu, Trom)",1,-,"dr. Cony Kusumawardani, Sp.OG",11-42-38,LILIS KARLINA,60125.0,None

### Saving the cleaned DataFrame to a new Excel file

In [23]:
dt.to_excel("data_penjualan_fixed.xlsx")
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.